{
  "extends": [
    "./node_modules/eslint-config/react.js"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "jsx": true,
    "useJSXTextNode": true
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "@typescript-eslint/no-unused-vars": ["warn", { "vars": "all", "args": "none", "ignoreRestSiblings": true }],
    "semi": "error",
    "no-mixed-operators": "off"
  }
}
